.contenedor{
    background-color: #fff9ef;
}

h1{
    background-color: #ffdb8f;
    color: #4b6062;
    padding: 0 0.2em;
}

h2{
    color: #6e9dbe;
    font-style: italic;
}

h3{
    color: #5e789e;
}

i{
    color: #5e789e;
}

ul li{
    list-style: none;
}