body{
    background-color:#E1EDE0;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: #005452;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #00807A;
}